<h3>
  Multiple containers example
</h3>
<div class="u-halfBlock u-pullLeft">
  <p>
    Drag any item from this block to the block on the right
  </p>
  <p>
    You can control which blocks can be interacted with by setting the sortingScope
  </p>
  <div class="u-pullLeft">
    <SortableObjects
      @sortableObjectList={{this.sortableObjectList}}
      @sortEndAction={{this.sortEndAction}}
      @sortingScope="a"
    >
      {{#each this.sortableObjectList as |item|}}
        <DraggableObject
          @content={{item}}
          @overrideClass="sortObject"
          @isSortable={{true}}
          @sortingScope="a"
        >
          {{item.title}}
        </DraggableObject>
      {{/each}}
    </SortableObjects>
  </div>
  <div class="u-pullLeft u-marginLeft">
    <h3>
      Order of objects is:
    </h3>
    <ul>
      {{#each this.sortableObjectList as |item|}}
        <li>
          id:
          {{item.id}}
          , title:
          {{item.title}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="u-halfBlock">
  <p>
    You can have more than one sort block on the page now
  </p>
  <div class="u-pullLeft">
    <SortableObjects
      @sortableObjectList={{this.sortableObjectList2}}
      @sortEndAction={{this.sortEndAction2}}
      @sortingScope="a"
    >
      {{#each this.sortableObjectList2 as |item|}}
        <DraggableObject
          @content={{item}}
          @overrideClass="sortObject"
          @isSortable={{true}}
          @sortingScope="a"
        >
          {{item.title}}
        </DraggableObject>
      {{/each}}
    </SortableObjects>
  </div>
  <div class="u-pullLeft u-marginLeft">
    <h3>
      Order of objects is:
    </h3>
    <ul>
      {{#each this.sortableObjectList2 as |item|}}
        <li>
          id:
          {{item.id}}
          , title:
          {{item.title}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
<br />
<br />
<div class="u-fullBlock">
  Template is here:
  <a
    href="https://github.com/mharris717/ember-drag-drop/blob/master/test-app/app/templates/multiple.hbs"
    target="_blank"
    rel="noopener noreferrer"
  >
    https://github.com/mharris717/ember-drag-drop/blob/master/test-app/app/templates/sort.hbs
  </a>
  <br />
  Controller is here:
  <a
    href="https://github.com/mharris717/ember-drag-drop/blob/master/test-app/app/controllers/multiple.js"
    target="_blank"
    rel="noopener noreferrer"
  >
    https://github.com/mharris717/ember-drag-drop/blob/master/test-app/app/controllers/sort.js
  </a>
</div>