<h3>A simple example of one drag and one drop</h3>

<DraggableObjectTarget
  @action={{fn this.dragResult}}
  @resultText="Drag is Complete"
  @dragOverAction={{fn this.draggingOverTarget}}
  @dragOutAction={{fn this.leftDragTarget}}
  @overrideClass="dropTarget">
  {{#if this.dragFinishText}}
    {{this.dragFinishText}}
  {{else}}
    Drag here to complete Action
  {{/if}}
</DraggableObjectTarget>

<DraggableObject
  @content={{this.myObject}}
  @dragStartAction={{fn this.dragStart}}
  @dragEndAction={{fn this.dragEnd}}
   @overrideClass="dragObject">

  {{#if this.dragStartedText}}
    {{this.dragStartedText}}
  {{else if this.dragEndedText}}
    {{this.dragEndedText}}
  {{else}}
    Drag Me
  {{/if}}

</DraggableObject>
<br><br>
<div class="u-fullBlock">
  Template is here: <a href="https://github.com/mharris717/ember-drag-drop/blob/master/test-app/app/templates/simple.hbs" target="_blank" rel="noopener noreferrer">https://github.com/mharris717/ember-drag-drop/blob/master/test-app/app/templates/simple.hbs</a>
  <br>Controller is here: <a href="https://github.com/mharris717/ember-drag-drop/blob/master/test-app/app/controllers/simple.js" target="_blank" rel="noopener noreferrer">https://github.com/mharris717/ember-drag-drop/blob/master/test-app/app/controllers/simple.js</a>
</div>
