<h3>
  A Horizontal sorting example
</h3>
<p>
  When using a horizontal list, you probably want to change the sorting algorithm.
  <br />
  This demo demonstrates the different between the flag useSwap=true (default) and useSwap=false
</p>
<div class="u-fullBlock u-pullLeft">
  <p>
    In this template the sortable-objects passes in 'useSwap'
  </p>
  <p>
    <Input @type="checkbox" @checked={{this.useSwap}} />
    useSwap=
    {{#if this.useSwap}}
      true
    {{else}}
      false
    {{/if}}
  </p>
  <p>
    Typically for a horizontal list, sending in useSwap=false is the right choice.
    <br />
    By default (useSwap=true) the box being dragged will be swapped with the item it's over.
    <br />
    If useSwap=false the item will be swapped with the one it's over and the items in the list under it will be pushed down the line.
  </p>
  <div class="u-pullLeft">
    <SortableObjects
      @sortableObjectList={{this.sortableObjectList}}
      @sortEndAction={{fn this.sortEndAction}}
      @useSwap={{this.useSwap}}
    >
      {{#each this.sortableObjectList as |item|}}
        <DraggableObject
          @content={{item}}
          @overrideClass="sortObject u-pullLeft"
          @isSortable={{true}}
        >
          {{item.title}}
        </DraggableObject>
      {{/each}}
    </SortableObjects>
  </div>
  <div class="u-fullBlock">
    <h3>
      Order of objects is:
    </h3>
    <ul>
      {{#each this.sortableObjectList as |item|}}
        <li>
          id:
          {{item.id}}
          , title:
          {{item.title}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
<br />
<br />
<div class="u-fullBlock">
  Template is here:
  <a
    href="https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/templates/horizontal.hbs"
    target="_blank"
    rel="noopener noreferrer"
  >
    https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/templates/horizontal.hbs
  </a>
  <br />
  Controller is here:
  <a
    href="https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/controllers/horizontal.js"
    target="_blank"
    rel="noopener noreferrer"
  >
    https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/controllers/horizontal.js
  </a>
  <br />
  Route is here:
  <a
    href="https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/routes/horizontal.js"
    target="_blank"
    rel="noopener noreferrer"
  >
    https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/routes/horizontal.js
  </a>
</div>