<h3>A simple example of one drag and one drop</h3>

{{#draggable-object-target action=(action 'dragResult') resultText='Drag is Complete' dragOverAction=(action 'draggingOverTarget') dragOutAction=(action 'leftDragTarget') overrideClass='dropTarget'}}
  {{#if dragFinishText}}
    {{dragFinishText}}
  {{else}}
    Drag here to complete Action
  {{/if}}
{{/draggable-object-target}}

{{#draggable-object content=myObject  dragStartAction=(action 'dragStart') dragEndAction=(action 'dragEnd') overrideClass='dragObject'}}

  {{#if dragStartedText}}
    {{dragStartedText}}
  {{else if dragEndedText}}
    {{dragEndedText}}
  {{else}}
    Drag Me
  {{/if}}

{{/draggable-object}}
<br><br>
<div class="u-fullBlock">
  Template is here: <a href="https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/templates/simple.hbs" target="_blank">https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/templates/simple.hbs</a>
  <br>Controller is here: <a href="https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/controllers/simple.js" target="_blank">https://github.com/mharris717/ember-drag-drop/blob/master/tests/dummy/app/controllers/simple.js</a>
</div>
